.container{
display: grid;
font-size: 20px;
grid-template-columns: 260px 260px 260px 260px 260px 260px;
}

.container2{
    display: grid;
    font-size: 20px;
    grid-template-columns: 260px 260px 260px 260px 260px 260px;
}

body{
   font-family: monospace;
   color: white;
   font-weight: bold;
   font-size: 25px; 
}

nav{
    display: flex;
    background-color: #25282b;
    height: 50px;
    width: 100%;
}



.Terraria{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 0 100px;
}

.Minecraft{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 0 100px;
}